{% extends 'base.html.twig' %}

{% block title %}Distance index{% endblock %}

{% block body %}
    <h1>Distance index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>IsActive</th>
                <th>Coef</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for distance in distances %}
            <tr>
                <td>{{ distance.id }}</td>
                <td>{{ distance.titre }}</td>
                <td>{{ distance.description }}</td>
                <td>{{ distance.isActive ? 'Yes' : 'No' }}</td>
                <td>{{ distance.coef }}</td>
                <td>
                    <a href="{{ path('app_distance_show', {'id': distance.id}) }}">show</a>
                    <a href="{{ path('app_distance_edit', {'id': distance.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_distance_new') }}">Create new</a>
{% endblock %}
