{% extends 'base.html.twig' %}

{% block title %}Annonces index
{% endblock %}

{% block body %}
	<h1>Annonces index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Expediteur</th>
				<th>Destinataire</th>
				<th>Description</th>
				<th>Date_livraison</th>
				<th>Heure_livraison</th>
				<th>Distance</th>
				<th>Remuneration livreur</th>
				<th>Commentaire</th>
				<th>Status</th>
				<th>Adresse</th>
				<th>CodePostal</th>
				<th>Ville</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for annonce in annonces %}
				<tr>
					<td>{{ annonce.id }}</td>
					<td>{{ annonce.expediteur.prenom }}</td>
					<td>{{ annonce.destinataire }}</td>
					<td>{{ annonce.description }}</td>
					<td>{{ annonce.dateLivraison ? annonce.dateLivraison|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ annonce.distance }}</td>
					<td>{{ annonce.remunerationLivreur }}</td>
					<td>{{ annonce.commentaire }}</td>
					<td>{{ annonce.status }}</td>
					<td>{{ annonce.adresse }}</td>
					<td>{{ annonce.codePostal }}</td>
					<td>{{ annonce.ville }}</td>
					<td>
						{% if annonce.status == "Libre" %}
							<a href="{{ path('app_annonces_choice', {'id': annonce.id}) }}">Prendre en charge</a>
						{% elseif annonce.status == "pris en charge" %}
							<p>En attente de validation</p>
						{% elseif annonce.status == "livreur accepté" %}
							<a href="{{ path('app_annonces_colis_livre', {'id': annonce.id}) }}">Valider la livraison</a>
							{% elseif annonce.status == "Colis  livré" %}

						{% endif %}
					</td>
				</tr>
			</td>
		</tbody>
	</tr>
{% else %}
	<tr>
		<td colspan="14">no records found</td>
	</tr>
{% endfor %}</tbody></table>{% endblock %}
