{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<h1>Formulaire d'inscription</h1>

	{{ form_start(registrationForm, {
        'attr':{
            'class':'registration'
        }
    }) }}
	<div>
		<label for="inputNom">Nom:</label>
		{{ form_widget(registrationForm.nom, {
                'attr':{
                    'class':'form-control',
                    'id':'inputNom',
                }
            }) }}
	</div>
	<div>
		<label for="inputPrenom">Prénom:</label>
		{{ form_widget(registrationForm.prenom, {
                'attr':{
                    'class':'form-control',
                    'id':'inputPrenom',
                }
            }) }}
	</div>
	<div>
		<label for="inputnomEntreprise">Nom entreprise:</label>
		{{ form_widget(registrationForm.nomEntreprise, {
                'attr':{
                    'class':'form-control',
                    'id':'inputnomEntreprise',
                }
            }) }}
	</div>
	<div>
		<label for="inputAdresse">Adresse:</label>
		{{ form_widget(registrationForm.adresse, {
                'attr':{
                    'class':'form-control',
                    'id':'inputAdresse',
                }
            }) }}
	</div>
	<div>
		<label for="inputcodePostal">Code Postal:</label>
		{{ form_widget(registrationForm.codePostal, {
                'attr':{
                    'class':'form-control',
                    'id':'inputcodePostal',
                }
            }) }}
	</div>
	<div>
		<label for="inputVille">Ville:</label>
		{{ form_widget(registrationForm.ville, {
                'attr':{
                    'class':'form-control',
                    'id':'inputVille',
                }
            }) }}
	</div>
	<div>
		<label for="inputEmail">
			Votre email:</label>
		{{ form_widget(registrationForm.email, {
                'attr':{
                    'class':'form-control',
                    'id':'inputEmail',
                    }
                
            }) }}
	</div>
	<div>
		<label for="inputPassword">Password:</label>
		{{ form_widget(registrationForm.password, {
                'attr':{
                    'class':'form-control',
                    'id':'inputPassword',
                }
        }) }}
	</div>
	{{ form_widget(registrationForm.agreeTerms) }}

	<button type="submit" class="btn">Register</button>
	{{ form_end(registrationForm) }}
{% endblock %}
