{% extends 'base.html.twig' %}

{% block title %}Annonces index
{% endblock %}

{% block body %}
	<h1>Annonces index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Expediteur</th>
				<th>Destinataire</th>
				<th>Adresse</th>
				<th>CodePostal</th>
				<th>Ville</th>
				<th>Description</th>
				<th>Date_livraison</th>
				<th>Heure_livraison</th>
				<th>Distance</th>
				<th>Remuneration_livreur</th>
				<th>Commentaire</th>
				<th>Status</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for annonce in annonces %}
				<tr>
					<td>{{ annonce.id }}</td>
					<td>{{ annonce.expediteur.email }}</td>
					<td>{{ annonce.destinataire }}</td>
					<td>{{ annonce.adresse }}</td>
					<td>{{ annonce.codePostal }}</td>
					<td>{{ annonce.ville }}</td>
					<td>{{ annonce.description }}</td>
					<td>{{ annonce.dateLivraison ? annonce.dateLivraison|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ annonce.heureLivraison ? annonce.heureLivraison|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ annonce.distance }}</td>
					<td>{{ annonce.remunerationLivreur }}</td>
					<td>{{ annonce.commentaire }}</td>
					<td>{{ annonce.status }}</td>
					<td>
						<a href="{{ path('app_annonces_show', {'id': annonce.id}) }}">show</a>
						{% if annonce.status == 'livreur accepté' %}
							<a href="{{ path('app_annonces_edit', {'id': annonce.id}) }}">edit</a>
						{% endif %}
					</td>
				</tr>
			</td>
		</tbody>
	</tr>
</td></tbody></tr>{% else %}<tr><td colspan="11">no records found</td></tr>{% endfor %}</tbody></table><a href="{{ path('app_annonces_new') }}">Create new</a>{% endblock %}
